/*--------------------------------------------------------------
Font face
--------------------------------------------------------------*/

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	src: url('../assets/fonts/Nunito-SemiBold.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url('../assets/fonts/Nunito-Bold.ttf') format('opentype');
}

/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
.tmp {
    color: #86a3b4;
    color: #0d2736;
    color: #183c51;
} 
html {
    --black: #0F0F0F;
    --white: #FFFFFF;
    --global-color: #0d2736;
    --light-grey: #dddddd;

    --light-grey-blue: #eef4fd;

    --font: 'Nunito', sans-serif;
    --regular: 400;
	--semi-bold: 600;
	--bold: 700;

    --shadow: 0px 0px 30px 0px rgb(0 0 0 / 20%);
    --shadow-light: 0px 0px 30px 0px rgb(0 0 0 / 10%);
    --mask: linear-gradient(to top, var(--global-color),rgba(0,0,0,0.1));
    --mask-cover : #0d27364e;
    --radius_big: 20px;
    --radius: 10px;
    --radius_small: 5px;

    --header-height: 94px;
    --nav-width: 250px;
}


/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/

html {
    font-family: var(--font);
    background-color: var(--white);
    color: var(--black);
    scroll-behavior: smooth;
    box-sizing: border-box;
    color-scheme: dark;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: var(--global-color);
}

main {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

a {
    color: var(--black);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

.wrapper {
    max-width: 1375px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    &_small {
        max-width: 1000px;
    }
}


/*--------------------------------------------------------------
Colonnes
--------------------------------------------------------------*/

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1 {
    flex: 0 0 calc(100% / 6);
    max-width: calc(100% / 6);
}

.col2 {
    flex: 0 0 calc(100% / 6 * 2);
    max-width: calc(100% / 6 * 2);
}

.col3 {
    flex: 0 0 calc(100% / 6 * 3);
    max-width: calc(100% / 6 * 3);
}

.col4 {
    flex: 0 0 calc(100% / 6 * 4);
    max-width: calc(100% / 6 * 4);
}

.col5 {
    flex: 0 0 calc(100% / 6 * 5);
    max-width: calc(100% / 6 * 5);
}

.col6 {
    flex: 0 0 100%;
    max-width: 100%;
}


/*--------------------------------------------------------------
Modèles
--------------------------------------------------------------*/

/*-----Bouton-----*/

.btn {
    text-decoration: none;
    border-radius: var(--radius_small);
    font-weight: var(--bold);
    padding: 10px 27px;
    font-size: 15px;
    transition: .2s;
    cursor: pointer;
    display: inline-block;
    &:hover {
        box-shadow: var(--shadow);
    }
    &_primary {
        background-color: var(--white);
        color: var(--global-color);
    }
    &_secondary {
        background-color: var(--global-color);
        color: var(--white);
    }
}

/*-----Formulaire-----*/

form {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    input:not([type="submit"]), textarea {
        background-color: rgb(134 163 180 / 16%);
        border-radius: var(--radius_small);
        border: 1px solid transparent;
        box-sizing: border-box;
        margin: 15px 0;
        padding: 15px 20px;
        width: 100%;
        &:focus {
            border-color: var(--purple);
            outline: 0;
        }
        &.mid {
            width: 47%;
        }
    }
    input[type="submit"] {
        border: 0;
        margin-top: 20px;
    }
}

/*-----Header-page-----*/

.header-page {
    width: 100%;
    height: 350px;
    position: relative;
    background-image: url('../assets/img/boat.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 50px;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        background: var(--mask);
        inset: 0;
        z-index: -1;
    }
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: var(--white);
        padding: calc( 80px + var(--header-height)) 80px 80px 80px;
        inset: 0;
        &__title {
            font-size: 50px;
            text-align: center;
        }
    }
}

/*-----Scroll btn-----*/

#scroll-btn {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 35px 20px;
    span {
        display: block;
        width: 20px;
        height: 20px;
        border-bottom: 2px solid var(--white);
        border-right: 2px solid var(--white);
        transform: rotate(45deg);
        margin: -10px;
        animation: scrollDown 2s infinite;
        &:nth-child(2) {
            animation-delay: -0.2s;
        }
        &:nth-child(3) {
            animation-delay: -0.4s;
        }
    }
}

@keyframes scrollDown {
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

/*-----Info-msg-----*/

#info-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: var(--radius_small);
    box-shadow: var(--shadow-light);
    background-color: var(--white);
    position: fixed;
    bottom: 50px;
    right: 50px;
    max-width: 500px;
    animation-name: fadeOut;
    animation-delay: 4s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    border-left: 5px solid;
    z-index: 1;
    svg {
        margin-right: 14px;
    }
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}