@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
Font face
--------------------------------------------------------------*/
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Nunito-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Nunito-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Nunito-Bold.ttf") format("opentype");
}
/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
.tmp {
  color: #86a3b4;
  color: #0d2736;
  color: #183c51;
}

html {
  --black: #0F0F0F;
  --white: #FFFFFF;
  --global-color: #0d2736;
  --light-grey: #dddddd;
  --light-grey-blue: #eef4fd;
  --font: "Nunito", sans-serif;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  --shadow: 0px 0px 30px 0px rgb(0 0 0 / 20%);
  --shadow-light: 0px 0px 30px 0px rgb(0 0 0 / 10%);
  --mask: linear-gradient(to top, var(--global-color),rgba(0,0,0,0.1));
  --mask-cover: #0d27364e;
  --radius_big: 20px;
  --radius: 10px;
  --radius_small: 5px;
  --header-height: 94px;
  --nav-width: 250px;
}

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
html {
  font-family: var(--font);
  background-color: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
  box-sizing: border-box;
  color-scheme: dark;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: var(--global-color);
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  max-width: 1375px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.wrapper_small {
  max-width: 1000px;
}

/*--------------------------------------------------------------
Colonnes
--------------------------------------------------------------*/
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col1 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col2 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col3 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col4 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col5 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col6 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*--------------------------------------------------------------
Modèles
--------------------------------------------------------------*/
/*-----Bouton-----*/
.btn {
  text-decoration: none;
  border-radius: var(--radius_small);
  font-weight: var(--bold);
  padding: 10px 27px;
  font-size: 15px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  box-shadow: var(--shadow);
}
.btn_primary {
  background-color: var(--white);
  color: var(--global-color);
}
.btn_secondary {
  background-color: var(--global-color);
  color: var(--white);
}

/*-----Formulaire-----*/
form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
form input:not([type=submit]), form textarea {
  background-color: rgba(134, 163, 180, 0.16);
  border-radius: var(--radius_small);
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 15px 20px;
  width: 100%;
}
form input:not([type=submit]):focus, form textarea:focus {
  border-color: var(--purple);
  outline: 0;
}
form input:not([type=submit]).mid, form textarea.mid {
  width: 47%;
}
form input[type=submit] {
  border: 0;
  margin-top: 20px;
}

/*-----Header-page-----*/
.header-page {
  width: 100%;
  height: 30vh;
  position: relative;
  background-image: url("../assets/img/boat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 50px;
  z-index: 1;
}
.header-page::after {
  content: "";
  position: absolute;
  background: var(--mask);
  inset: 0;
  z-index: -1;
}
.header-page__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--white);
  padding: calc(80px + var(--header-height)) 80px 80px 80px;
  inset: 0;
}
.header-page__content__title {
  font-size: 50px;
  text-align: center;
}

/*-----Scroll btn-----*/
#scroll-btn {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 35px 20px;
}
#scroll-btn span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
  margin: -10px;
  animation: scrollDown 2s infinite;
}
#scroll-btn span:nth-child(2) {
  animation-delay: -0.2s;
}
#scroll-btn span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*-----Info-msg-----*/
#info-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: var(--radius_small);
  box-shadow: var(--shadow-light);
  background-color: var(--white);
  position: fixed;
  bottom: 50px;
  right: 50px;
  max-width: 500px;
  animation-name: fadeOut;
  animation-delay: 4s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-left: 5px solid;
  z-index: 1;
}
#info-msg svg {
  margin-right: 14px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
.admin-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 100vh;
  position: relative;
}
.admin-container nav {
  background-color: var(--global-color);
  width: var(--nav-width);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.admin-container nav .top {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.admin-container nav .top .logo {
  align-self: center;
  padding: 30px 0 10px 0;
}
.admin-container nav .top .logo img {
  height: 35px;
}
.admin-container nav .top ul {
  display: flex;
  flex-flow: column;
}
.admin-container nav .top ul li a {
  padding: 20px 30px;
  display: flex;
  gap: 22px;
  align-items: center;
  transition: 0.3s;
}
.admin-container nav .top ul li a:hover {
  background-color: #14384d;
}
.admin-container nav .top ul li a svg path {
  fill: var(--white);
}
.admin-container nav .top ul li a span {
  font-weight: var(--bold);
  color: var(--white);
}
.admin-container nav .bottom {
  padding: 30px 0;
}
.admin-container nav .bottom a {
  padding: 15px 30px;
  display: flex;
  gap: 22px;
  align-items: center;
  transition: 0.3s;
}
.admin-container nav .bottom a:hover {
  opacity: 0.7;
}
.admin-container nav .bottom a svg path:not(.back) {
  fill: var(--light-grey);
}
.admin-container nav .bottom a svg path.back {
  stroke: var(--light-grey);
  fill: none;
}
.admin-container nav .bottom a span {
  font-size: 15px;
  color: var(--light-grey);
  font-weight: var(--semi-bold);
}
.admin-container .content {
  flex-grow: 1;
  position: absolute;
  background-color: var(--light-grey-blue);
  right: 0;
  top: 0;
  left: var(--nav-width);
  min-height: 100vh;
}
.admin-container .content #dashboard .dashboard-content {
  margin-top: -200px;
  padding: 30px;
  position: relative;
}
.admin-container .content #dashboard .dashboard-content .top {
  display: flex;
  justify-content: space-between;
}
.admin-container .content #dashboard .dashboard-content .top .left, .admin-container .content #dashboard .dashboard-content .top .right {
  background-color: var(--light-grey-blue);
  box-shadow: var(--shadow-light);
  border-radius: var(--radius);
  padding: 30px;
}
.admin-container .content #dashboard .dashboard-content .top .left {
  width: 28%;
}
.admin-container .content #dashboard .dashboard-content .top .left .profil {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--light-grey);
  color: var(--white);
  font-size: 80px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}
.admin-container .content #dashboard .dashboard-content .top .left .name {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
}
.admin-container .content #dashboard .dashboard-content .top .left .role {
  color: gray;
  text-align: center;
  margin-top: 0;
  font-size: 15px;
}
.admin-container .content #dashboard .dashboard-content .top .right {
  width: 70%;
}
.admin-container .content #dashboard .dashboard-content .resume {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}
.admin-container .content #dashboard .dashboard-content .resume > div {
  box-shadow: var(--shadow-light);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  padding: 30px;
}
.admin-container .content #dashboard .dashboard-content .resume > div svg {
  margin-right: 20px;
}
.admin-container .content #dashboard .dashboard-content .resume > div svg path {
  fill: var(--global-color);
}
.admin-container .content #dashboard .dashboard-content .resume > div p {
  font-size: 18px;
  margin: 0;
}
.admin-container .content #dashboard .dashboard-content .resume > div p span {
  font-size: 24px;
  font-weight: var(--bold);
}
.admin-container .content #blog, .admin-container .content #shop {
  padding: 30px;
}
.admin-container .content #blog .item-list, .admin-container .content #shop .item-list {
  display: flex;
  flex-flow: column;
  gap: 5px;
}
.admin-container .content #blog .item-list .item, .admin-container .content #shop .item-list .item {
  display: flex;
  justify-content: space-between;
  background-color: #dde5f1;
  border-radius: var(--radius_small);
  padding: 10px;
  position: relative;
  z-index: 1;
}
.admin-container .content #blog .item-list .item__link, .admin-container .content #shop .item-list .item__link {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.admin-container .content #blog .item-list .item__title, .admin-container .content #shop .item-list .item__title {
  font-weight: var(--bold);
  color: var(--global-color);
}
.admin-container .content #blog .item-list .item__actions, .admin-container .content #shop .item-list .item__actions {
  font-weight: var(--semi-bold);
}
.admin-container .content #blog .item-list .item__actions .edit, .admin-container .content #shop .item-list .item__actions .edit {
  font-size: 15px;
}
.admin-container .content #blog .item-list .item__actions .delete, .admin-container .content #shop .item-list .item__actions .delete {
  color: red;
  margin-left: 20px;
  font-size: 15px;
}
.admin-container .content #blog .btn, .admin-container .content #shop .btn {
  margin-top: 20px;
}
.admin-container .content #add-post, .admin-container .content #add-product {
  padding: 30px;
}
.admin-container .content #edit-post, .admin-container .content #edit-product {
  padding: 30px;
}
.admin-container .content #edit-post .input-image, .admin-container .content #edit-product .input-image {
  background-color: rgba(134, 163, 180, 0.16);
  border-radius: var(--radius_small);
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 15px 20px;
  width: 100%;
  gap: 20px;
}
.admin-container .content #edit-post .input-image .image, .admin-container .content #edit-product .input-image .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: var(--radius_small);
  width: 150px;
  height: 150px;
}
.admin-container .content #edit-post .input-image .image:hover .delete-btn, .admin-container .content #edit-product .input-image .image:hover .delete-btn {
  opacity: 0.8;
  visibility: visible;
}
.admin-container .content #edit-post .input-image .image .delete-btn, .admin-container .content #edit-product .input-image .image .delete-btn {
  color: var(--white);
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  background-color: var(--global-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-container .content #edit-post .input-image .image .delete-btn:hover, .admin-container .content #edit-product .input-image .image .delete-btn:hover {
  opacity: 1;
}
.admin-container .content #options {
  padding: 30px;
}
.admin-container .content #options h2 {
  margin-bottom: 40px;
}
.admin-container .content #options input[type=text] {
  margin: 0;
}