@import 'normalize';
@import 'base';

/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transition: .3s;
    &.scroll {
        background-color: var(--global-color);
        box-shadow: var(--shadow);
        --header-height: 74px;
        .site-header {
            padding: 10px 0;
        }
    }
    .site-header {
        padding: 20px 0;
        transition: .2s;
        &__logo {
            img {
                height: 35px;
            }
        }
        nav {
            &:hover a {
                opacity: .4;
            }
            ul {
                margin: 0;
                li {
                    display: flex;
                    a {
                        padding: 16px 20px;
                        color: var(--white);
                        font-weight: var(--bold);
                        transition: .3s;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &__account {
            a.profil {
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                background-color: var(--white);
                color: var(--global-color);
                font-weight: var(--bold);
                font-size: 25px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
}

/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/

/*-----Homepage-----*/

#homepage {
    #hero {
        min-height: 100vh;
        background-image: url('../assets/img/hero.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        padding-top: 100px;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            background: var(--mask);
            inset: 0;
            z-index: -1;
        }
        .content {
            &__title {
                font-size: 100px;
                text-align: center;
                margin-top: 0;
            }
            &__description {
                font-size: 25px;
                text-align: center;
                line-height: 1.8;
                padding: 0 100px;
            }
        }
    }
    #presentation {
        height: 100vh;
        display: flex;
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10% 0;
            .left {
                width: 45%;
                .big-img {
                    height: 100%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    box-shadow: var(--shadow);
                    border-radius: var(--radius);
                    position: relative;
                    .small-img {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        box-shadow: var(--shadow);
                        border-radius: var(--radius);
                        width: 300px;
                        height: 400px;
                        position: absolute;
                        right: -80px;
                        bottom: -50px;
                    }
                }
            }
            .right {
                width: 40%;
                color: #bababa;
                p {
                    font-size: 17px;
                    line-height: 1.6;
                    margin-bottom: 40px;
                }
            }
        }
    }
    #tmp2 {
        min-height: 100vh;
        background-color: var(--white);
    }
}

/*------Blog-------*/

#blog {
    .post-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 100px 0;
        .post {
            box-shadow: var(--shadow-light);
            border-radius: var(--radius);
            background-color: var(--white);
            overflow: hidden;
            position: relative;
            transition: .3s;
            &:hover {
                transform: translate( 0, -5px);
            }
            &__link {
                position: absolute;
                inset: 0;
                z-index: 2;
            }
            &__thumbnail {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 200px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    background-color: var(--mask);
                    inset: 0;
                    z-index: 1;
                }
            }
            &__content {
                padding: 30px;
                &__title {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
                &__date {
                    background-color: var(--global-color);
                    border-radius: var(--radius_small);
                    color: var(--white);
                    font-size: 14px;
                    padding: 6px;
                }
            }
        }
    }
}

/*------Post------*/

#post {
    border-radius: var(--radius_big);
    box-shadow: var(--shadow-light);
    margin-top: calc( var(--header-height) + 50px );
    margin-bottom: 100px;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    min-height: calc( 100vh - calc( var(--header-height) + 100px ) );
    .header-post {
        width: 100%;
        height: 250px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: var(--mask-cover);
            color: var(--white);
            padding: 50px;
            inset: 0;
            &__title {
                text-align: center;
            }
        }
    }
    .content-post {
        background-color: var(--white);
        padding: 50px;
        flex-grow: 1;
        &__date {
            background-color: var(--global-color);
            border-radius: var(--radius_small);
            color: var(--white);
            font-size: 14px;
            padding: 6px;
        }
        &__content {
            font-size: 18px;
            line-height: 1.7;
            margin-top: 40px;
        }
    }
}


/*-----Login-----*/

#login {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-grow: 1;
    .login-form {
        width: 450px;
        padding: 50px;
        background-color: var(--white);
        border-radius: var(--radius);
        box-shadow: var(--shadow);
        h2 {
            text-align: center;
            margin-top: 0;
        }

    }
}

/*------404------*/

#error-404 {
    .content {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        &__title {
            font-size: 200px;
            color: var(--global-color);
            opacity: .5;
            margin: 50px 0;
        }
    }
}
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

footer {
    background-color: var(--global-color);
    .site-footer {
        padding: 10px 0;
        p {
            text-align: center;
            color: var(--white);
        }
    }
}