@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*--------------------------------------------------------------
Font face
--------------------------------------------------------------*/
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Nunito-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Nunito-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Nunito-Bold.ttf") format("opentype");
}
/*--------------------------------------------------------------
Variables
--------------------------------------------------------------*/
.tmp {
  color: #86a3b4;
  color: #0d2736;
  color: #183c51;
}

html {
  --black: #0F0F0F;
  --white: #FFFFFF;
  --global-color: #0d2736;
  --light-grey: #dddddd;
  --light-grey-blue: #eef4fd;
  --font: "Nunito", sans-serif;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  --shadow: 0px 0px 30px 0px rgb(0 0 0 / 20%);
  --shadow-light: 0px 0px 30px 0px rgb(0 0 0 / 10%);
  --mask: linear-gradient(to top, var(--global-color),rgba(0,0,0,0.1));
  --mask-cover: #0d27364e;
  --radius_big: 20px;
  --radius: 10px;
  --radius_small: 5px;
  --header-height: 94px;
  --nav-width: 250px;
}

/*--------------------------------------------------------------
Global
--------------------------------------------------------------*/
html {
  font-family: var(--font);
  background-color: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
  box-sizing: border-box;
  color-scheme: dark;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: var(--global-color);
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  max-width: 1375px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.wrapper_small {
  max-width: 1000px;
}

/*--------------------------------------------------------------
Colonnes
--------------------------------------------------------------*/
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col1 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col2 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col3 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col4 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col5 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col6 {
  flex: 0 0 100%;
  max-width: 100%;
}

/*--------------------------------------------------------------
Modèles
--------------------------------------------------------------*/
/*-----Button-----*/
.btn {
  text-decoration: none;
  border-radius: var(--radius_small);
  font-weight: var(--bold);
  padding: 10px 27px;
  font-size: 15px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  box-shadow: var(--shadow);
}
.btn_primary {
  background-color: var(--white);
  color: var(--global-color);
}
.btn_secondary {
  background-color: var(--global-color);
  color: var(--white);
}

/*-----Formulaire-----*/
form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
form input:not([type=submit]), form textarea {
  background-color: rgba(134, 163, 180, 0.16);
  border-radius: var(--radius_small);
  border: 1px solid transparent;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 15px 20px;
  width: 100%;
}
form input:not([type=submit]):focus, form textarea:focus {
  border-color: var(--purple);
  outline: 0;
}
form input:not([type=submit]).mid, form textarea.mid {
  width: 47%;
}
form input[type=submit] {
  border: 0;
  margin-top: 20px;
}

/*-----Header-page-----*/
.header-page {
  width: 100%;
  height: 30vh;
  position: relative;
  background-image: url("../assets/img/boat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 50px;
  z-index: 1;
}
.header-page::after {
  content: "";
  position: absolute;
  background: var(--mask);
  inset: 0;
  z-index: -1;
}
.header-page__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--white);
  padding: calc(80px + var(--header-height)) 80px 80px 80px;
  inset: 0;
}
.header-page__content__title {
  font-size: 50px;
  text-align: center;
}

/*-----Scroll btn-----*/
#scroll-btn {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 35px 20px;
}
#scroll-btn span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
  margin: -10px;
  animation: scrollDown 2s infinite;
}
#scroll-btn span:nth-child(2) {
  animation-delay: -0.2s;
}
#scroll-btn span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/*-----Info-msg-----*/
#info-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: var(--radius_small);
  box-shadow: var(--shadow-light);
  background-color: var(--white);
  position: fixed;
  bottom: 50px;
  right: 50px;
  max-width: 500px;
  animation-name: fadeOut;
  animation-delay: 4s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-left: 5px solid;
  z-index: 1;
}
#info-msg svg {
  margin-right: 14px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: 0.3s;
}
header.scroll {
  background-color: var(--global-color);
  box-shadow: var(--shadow);
  --header-height: 74px;
}
header.scroll .site-header {
  padding: 10px 0;
}
header .site-header {
  padding: 20px 0;
  transition: 0.2s;
}
header .site-header__logo img {
  height: 35px;
}
header .site-header nav:hover a {
  opacity: 0.4;
}
header .site-header nav ul {
  margin: 0;
}
header .site-header nav ul li {
  display: flex;
}
header .site-header nav ul li a {
  padding: 16px 20px;
  color: var(--white);
  font-weight: var(--bold);
  transition: 0.3s;
}
header .site-header nav ul li a:hover {
  opacity: 1;
}
header .site-header__account a.profil {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--white);
  color: var(--global-color);
  font-weight: var(--bold);
  font-size: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*--------------------------------------------------------------
Page
--------------------------------------------------------------*/
/*-----Homepage-----*/
#homepage #hero {
  min-height: 100vh;
  background-image: url("../assets/img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 100px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
#homepage #hero::after {
  content: "";
  position: absolute;
  background: var(--mask);
  inset: 0;
  z-index: -1;
}
#homepage #hero .content__title {
  font-size: 90px;
  text-align: center;
  margin-top: 0;
}
#homepage #hero .content__description {
  font-size: 22px;
  text-align: center;
  line-height: 1.8;
  padding: 0 120px;
}
#homepage #presentation {
  height: 100vh;
  display: flex;
}
#homepage #presentation .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10% 0;
}
#homepage #presentation .wrapper .left {
  width: 45%;
}
#homepage #presentation .wrapper .left .big-img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  position: relative;
}
#homepage #presentation .wrapper .left .big-img .small-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  width: 300px;
  height: 400px;
  position: absolute;
  right: -80px;
  bottom: -50px;
}
#homepage #presentation .wrapper .right {
  width: 40%;
  color: var(--white);
  opacity: 0.5;
}
#homepage #presentation .wrapper .right p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 40px;
}
#homepage #shop {
  background-color: #0f2f41;
}
#homepage #shop, #homepage #blog {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
#homepage #shop .sec-title, #homepage #blog .sec-title {
  text-align: center;
  font-size: 50px;
  color: var(--white);
  opacity: 0.8;
  margin: 20px 0;
}
#homepage #shop .sec-description, #homepage #blog .sec-description {
  text-align: center;
  color: var(--white);
  font-size: 17px;
  opacity: 0.4;
  padding: 0 150px;
}
#homepage #shop .btn-container, #homepage #blog .btn-container {
  display: flex;
  justify-content: center;
}
#homepage #shop .product-list, #homepage #shop .post-list, #homepage #blog .product-list, #homepage #blog .post-list {
  padding-bottom: 50px;
}

/*------Blog-------*/
#blog .post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 100px 0;
}
#blog .post-list .post {
  box-shadow: var(--shadow-light);
  border-radius: var(--radius);
  background-color: var(--white);
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
#blog .post-list .post:hover {
  transform: translate(0, -5px);
}
#blog .post-list .post__link {
  position: absolute;
  inset: 0;
  z-index: 2;
}
#blog .post-list .post__thumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  position: relative;
}
#blog .post-list .post__thumbnail::after {
  content: "";
  position: absolute;
  background-color: var(--mask);
  inset: 0;
  z-index: 1;
}
#blog .post-list .post__content {
  padding: 30px;
}
#blog .post-list .post__content__title {
  font-size: 24px;
  margin-bottom: 10px;
}
#blog .post-list .post__content__date {
  background-color: var(--global-color);
  border-radius: var(--radius_small);
  color: var(--white);
  font-size: 14px;
  padding: 6px;
}

/*------Post------*/
#post {
  border-radius: var(--radius_big);
  box-shadow: var(--shadow-light);
  margin-top: calc(var(--header-height) + 50px);
  margin-bottom: 100px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - (var(--header-height) + 100px));
}
#post .header-post {
  width: 100%;
  height: 250px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#post .header-post__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--mask-cover);
  color: var(--white);
  padding: 50px;
  inset: 0;
}
#post .header-post__content__title {
  text-align: center;
}
#post .content-post {
  background-color: var(--white);
  padding: 50px;
  flex-grow: 1;
}
#post .content-post__date {
  background-color: var(--global-color);
  border-radius: var(--radius_small);
  color: var(--white);
  font-size: 14px;
  padding: 6px;
}
#post .content-post__content {
  font-size: 18px;
  line-height: 1.7;
  margin-top: 40px;
}

/*------Shop-------*/
#shop .product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 100px 0;
}
#shop .product-list .product {
  box-shadow: var(--shadow-light);
  border-radius: var(--radius);
  background-color: var(--white);
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}
#shop .product-list .product:hover {
  transform: translate(0, -5px);
}
#shop .product-list .product__link {
  position: absolute;
  inset: 0;
  z-index: 2;
}
#shop .product-list .product__content {
  padding: 20px;
  position: absolute;
  background-color: #1d1d1d;
  border-radius: var(--radius);
  color: var(--white);
  left: 20px;
  right: 20px;
  bottom: 20px;
}
#shop .product-list .product__content__title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}
#shop .product-list .product__content__description {
  font-size: 18px;
  color: #b1b1b1;
  margin-top: 0;
  margin-bottom: 30px;
}
#shop .product-list .product__content__price {
  font-weight: var(--bold);
  font-size: 16px;
}

/*------Product-------*/
#product {
  margin-top: 100px;
  margin-bottom: 100px;
}
#product > .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
#product > .content .left {
  border-radius: var(--radius);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
}
#product > .content .right {
  padding-left: 100px;
}
#product > .content .right .title {
  font-size: 35px;
  color: var(--white);
}
#product > .content .right .description {
  font-size: 20px;
  color: var(--white);
}
#product > .content .right .price {
  font-weight: var(--bold);
  font-size: 20px;
  color: var(--white);
  margin-bottom: 40px;
}
#product > .description {
  padding-left: 150px;
  position: relative;
}
#product > .description::before {
  content: "";
  position: absolute;
  width: 100px;
  left: 0;
  height: 2px;
  top: 15px;
  background-color: var(--white);
}
#product > .description .title {
  color: var(--white);
}
#product > .description .content {
  color: var(--white);
  font-size: 18px;
}

/*-------Login-------*/
#login {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-grow: 1;
}
#login .login-form {
  width: 450px;
  padding: 50px;
  background-color: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
#login .login-form h2 {
  text-align: center;
  margin-top: 0;
}

/*------404------*/
#error-404 .content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#error-404 .content__title {
  font-size: 200px;
  color: var(--white);
  opacity: 0.5;
  margin: 50px 0;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
  background-color: var(--global-color);
}
footer .site-footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid gray;
}
footer .site-footer__logo img {
  height: 30px;
  opacity: 0.7;
}
footer .site-footer p {
  text-align: center;
  color: var(--white);
  opacity: 0.7;
  font-size: 14px;
}
footer .site-footer nav:hover a {
  opacity: 0.3;
}
footer .site-footer nav ul {
  margin: 0;
}
footer .site-footer nav ul li {
  display: flex;
}
footer .site-footer nav ul li a {
  padding: 16px 20px;
  color: var(--white);
  transition: 0.3s;
  font-size: 14px;
  opacity: 0.7;
}
footer .site-footer nav ul li a:hover {
  opacity: 0.7;
}